node_modules/**/*

build
dist

eden.*.ts

ace.config.ts

build.sh

document.ejs

scm_build.sh
package.json

package-lock.json
yarn.lock

**/*.svg
**/*.css
**/*.scss
**/*.html
**/*.gif
**/*.png
**/*.md
**/*.jpg
**/*.mp4
